@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 80px;
        --layout-base: 1440px;
        --transparent: rgba(255, 255, 255, 0);
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-white text-gray-950 dark:bg-gray-950 dark:text-gray-200;
    }
}
