@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 80px;
        --layout-base: 1440px;
        --transparent: rgba(255, 255, 255, 0);
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-white text-gray-950 dark:bg-gray-950 dark:text-gray-200;
    }

    * {
        @apply focus:outline-none focus:ring focus:ring-offset-transparent focus:aria-disabled:ring-0;
    }
}

@layer components {
    .stroke-default {
        @apply stroke-gray-800 dark:stroke-gray-200;
    }

    .fill-default {
        @apply fill-gray-800 dark:fill-gray-200;
    }
}
